.Add-Form {
    background-color: #e3eccca1;
    border: solid 2px #457B9D;
    border-radius: 5px;
    height: 250px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.labelContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    color: black;
}

.labelContainer label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


form button {
    margin: 10px;
    background-color: #c3e8ff;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}

form button:hover {
    background-color: #7A9E9F;
    transform: scale(1.05);
}